Code/Nodered flows/flows.json
[{"id":"91dd6e92.2e71f","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b8225bf8.ace218","type":"mqtt in","z":"91dd6e92.2e71f","name":"","topic":"BW_2.0.0/message","qos":"2","datatype":"json","broker":"52c98e05.2da56","x":190,"y":180,"wires":[["d5e199d5.986aa8","9e4e3262.6438c"]]},{"id":"d5e199d5.986aa8","type":"debug","z":"91dd6e92.2e71f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":220,"wires":[]},{"id":"2c61f29c.4e505e","type":"mqtt in","z":"91dd6e92.2e71f","name":"","topic":"BW_2.0.0/Status","qos":"2","datatype":"utf8","broker":"52c98e05.2da56","x":180,"y":280,"wires":[["2be982a9.9b5cfe"]]},{"id":"2be982a9.9b5cfe","type":"debug","z":"91dd6e92.2e71f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":280,"wires":[]},{"id":"68e4e759.7e1388","type":"mqtt in","z":"91dd6e92.2e71f","name":"","topic":"BW_2.0.0/MAC_Address","qos":"2","datatype":"utf8","broker":"52c98e05.2da56","x":210,"y":340,"wires":[["3fa77ca3.830b14"]]},{"id":"3fa77ca3.830b14","type":"debug","z":"91dd6e92.2e71f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":340,"wires":[]},{"id":"4664ed3d.2331f4","type":"mqtt in","z":"91dd6e92.2e71f","name":"","topic":"BW_2.0.0/MQTT_Connect_Count","qos":"2","datatype":"utf8","broker":"52c98e05.2da56","x":230,"y":400,"wires":[["3f6052e5.dd5e5e"]]},{"id":"3f6052e5.dd5e5e","type":"debug","z":"91dd6e92.2e71f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":400,"wires":[]},{"id":"3d25876f.3a2cd8","type":"influxdb out","z":"91dd6e92.2e71f","influxdb":"1ca76bdd.b244a4","name":"influx/pooldb","measurement":"pooldata","precision":"","retentionPolicy":"","x":650,"y":160,"wires":[]},{"id":"9e4e3262.6438c","type":"function","z":"91dd6e92.2e71f","name":"","func":"var tags;\nvar fields;\n\ntags = {\n}\n\nfields = {\n    content: msg.payload[\"CONTENT\"],\n    temp: msg.payload[\"TMP\"],\n    target: msg.payload[\"TGT\"],\n    locked: msg.payload[\"LCK\"],\n    air: msg.payload[\"AIR\"],\n    celsius: msg.payload[\"UNT\"],\n    heating: msg.payload[\"RED\"],\n    heater: msg.payload[\"GRN\"],\n    filter: msg.payload[\"FLT\"],\n    power: msg.payload[\"PWR\"],\n    ch1: msg.payload[\"CH1\"],\n    ch2: msg.payload[\"CH2\"],\n    ch3: msg.payload[\"CH3\"]\n}\n\nmsg.payload = [\n    fields,\n    tags\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["3d25876f.3a2cd8"]]},{"id":"5b03f0bc.8711c","type":"mqtt in","z":"91dd6e92.2e71f","name":"","topic":"BW_2.0.0/message","qos":"2","datatype":"utf8","broker":"52c98e05.2da56","x":190,"y":460,"wires":[["b5d8f640.2d42b8"]]},{"id":"b5d8f640.2d42b8","type":"debug","z":"91dd6e92.2e71f","name":"String output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":460,"wires":[]},{"id":"578489d9.e19558","type":"mqtt out","z":"91dd6e92.2e71f","name":"BW_2.0.0/command","topic":"BW_2.0.0/command","qos":"","retain":"","broker":"52c98e05.2da56","x":1180,"y":300,"wires":[]},{"id":"2d1b6987.4e4e86","type":"inject","z":"91dd6e92.2e71f","name":"Bubbles ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CMD\":2,\"VALUE\":true,\"XTIME\":1603466443,\"INTERVAL\":0}","payloadType":"str","x":910,"y":300,"wires":[["578489d9.e19558"]]},{"id":"1491f44.21ccc0c","type":"inject","z":"91dd6e92.2e71f","name":"Bubbles OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CMD\":2,\"VALUE\":false,\"XTIME\":1603466443,\"INTERVAL\":0}","payloadType":"str","x":910,"y":340,"wires":[["578489d9.e19558"]]},{"id":"4ac4e07c.1f219","type":"inject","z":"91dd6e92.2e71f","name":"Pump ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CMD\":4,\"VALUE\":1,\"XTIME\":1603466443,\"INTERVAL\":0}","payloadType":"str","x":900,"y":500,"wires":[["578489d9.e19558"]]},{"id":"ac855e13.d97a4","type":"inject","z":"91dd6e92.2e71f","name":"Pump OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CMD\":4,\"VALUE\":0,\"XTIME\":1603466443,\"INTERVAL\":0}","payloadType":"str","x":900,"y":540,"wires":[["578489d9.e19558"]]},{"id":"87a21d8.0b61ee","type":"inject","z":"91dd6e92.2e71f","name":"Heater ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CMD\":3,\"VALUE\":1,\"XTIME\":1603466443,\"INTERVAL\":0}","payloadType":"str","x":900,"y":400,"wires":[["578489d9.e19558"]]},{"id":"fdab5e26.7919","type":"inject","z":"91dd6e92.2e71f","name":"Heater OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CMD\":3,\"VALUE\":0,\"XTIME\":1603466443,\"INTERVAL\":0}","payloadType":"str","x":910,"y":440,"wires":[["578489d9.e19558"]]},{"id":"6b0b8940.7d6278","type":"inject","z":"91dd6e92.2e71f","name":"Fahrenheit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CMD\":1,\"VALUE\":0,\"XTIME\":1603466443,\"INTERVAL\":0}","payloadType":"str","x":900,"y":200,"wires":[["578489d9.e19558"]]},{"id":"364aa252.fcf76e","type":"inject","z":"91dd6e92.2e71f","name":"Celsius","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CMD\":1,\"VALUE\":1,\"XTIME\":1603466443,\"INTERVAL\":0}","payloadType":"str","x":890,"y":240,"wires":[["578489d9.e19558"]]},{"id":"52c98e05.2da56","type":"mqtt-broker","z":"","name":"my broker","broker":"mosquitto","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"BW_2.0.0/test","birthQos":"0","birthRetain":"false","birthPayload":"hej","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1ca76bdd.b244a4","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"pooldb","name":"pooldb","usetls":false,"tls":""}]
