Code/Nodered flows/flows.json
[{"id":"b8225bf8.ace218","type":"mqtt in","z":"91dd6e92.2e71f","name":"","topic":"BW_2.0.0/message","qos":"2","datatype":"json","broker":"52c98e05.2da56","x":190,"y":180,"wires":[["d5e199d5.986aa8","9e4e3262.6438c"]]},{"id":"d5e199d5.986aa8","type":"debug","z":"91dd6e92.2e71f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":220,"wires":[]},{"id":"2c61f29c.4e505e","type":"mqtt in","z":"91dd6e92.2e71f","name":"","topic":"BW_2.0.0/Status","qos":"2","datatype":"utf8","broker":"52c98e05.2da56","x":180,"y":280,"wires":[["2be982a9.9b5cfe"]]},{"id":"2be982a9.9b5cfe","type":"debug","z":"91dd6e92.2e71f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":280,"wires":[]},{"id":"68e4e759.7e1388","type":"mqtt in","z":"91dd6e92.2e71f","name":"","topic":"BW_2.0.0/MAC_Address","qos":"2","datatype":"utf8","broker":"52c98e05.2da56","x":210,"y":340,"wires":[["3fa77ca3.830b14"]]},{"id":"3fa77ca3.830b14","type":"debug","z":"91dd6e92.2e71f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":340,"wires":[]},{"id":"4664ed3d.2331f4","type":"mqtt in","z":"91dd6e92.2e71f","name":"","topic":"BW_2.0.0/MQTT_Connect_Count","qos":"2","datatype":"utf8","broker":"52c98e05.2da56","x":230,"y":400,"wires":[["3f6052e5.dd5e5e"]]},{"id":"3f6052e5.dd5e5e","type":"debug","z":"91dd6e92.2e71f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":400,"wires":[]},{"id":"3d25876f.3a2cd8","type":"influxdb out","z":"91dd6e92.2e71f","influxdb":"1ca76bdd.b244a4","name":"influx/pooldb","measurement":"pooldata","precision":"","retentionPolicy":"","x":650,"y":160,"wires":[]},{"id":"9e4e3262.6438c","type":"function","z":"91dd6e92.2e71f","name":"","func":"var tags;\nvar fields;\n\ntags = {\n}\n\nfields = {\n    content: msg.payload[\"CONTENT\"],\n    temp: msg.payload[\"TMP\"],\n    target: msg.payload[\"TGT\"],\n    locked: msg.payload[\"LCK\"],\n    air: msg.payload[\"AIR\"],\n    celsius: msg.payload[\"UNT\"],\n    heating: msg.payload[\"RED\"],\n    heater: msg.payload[\"GRN\"],\n    filter: msg.payload[\"FLT\"],\n    power: msg.payload[\"PWR\"],\n    ch1: msg.payload[\"CH1\"],\n    ch2: msg.payload[\"CH2\"],\n    ch3: msg.payload[\"CH3\"]\n}\n\nmsg.payload = [\n    fields,\n    tags\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["3d25876f.3a2cd8"]]},{"id":"52c98e05.2da56","type":"mqtt-broker","z":"","name":"my broker","broker":"mosquitto","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"BW_2.0.0/test","birthQos":"0","birthRetain":"false","birthPayload":"hej","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1ca76bdd.b244a4","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"pooldb","name":"pooldb","usetls":false,"tls":""}]