Code/Nodered flows/flows.json
[{"id":"673cefa9.3d3c2","type":"tab","label":"Hot tub flow","disabled":false,"info":""},{"id":"d83a6cfb.81b43","type":"mqtt in","z":"673cefa9.3d3c2","name":"","topic":"BW_2.0.0/message","qos":"2","datatype":"json","broker":"834c66eb.d8af88","x":130,"y":500,"wires":[["2929a113.9b959e","348dfe65.6324c2","fbe0db10.27e038","8f3171be.e79b","b4b1b47f.afe4d8","24db7b8.d152e84","2a796120.1e1abe","16109ca4.663163"]]},{"id":"ec96df.221d992","type":"mqtt out","z":"673cefa9.3d3c2","name":"","topic":"BW_2.0.0/command","qos":"","retain":"","broker":"834c66eb.d8af88","x":1340,"y":760,"wires":[]},{"id":"543923a2.ab50cc","type":"inject","z":"673cefa9.3d3c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CMD\":3,\"VALUE\":false,\"XTIME\":1618758528,\"INTERVAL\":0}","payloadType":"str","x":750,"y":600,"wires":[["ec96df.221d992"]]},{"id":"4f7dd2a4.bd29ec","type":"mqtt out","z":"673cefa9.3d3c2","name":"","topic":"BW_2.0.0/command","qos":"","retain":"","broker":"834c66eb.d8af88","x":1340,"y":200,"wires":[]},{"id":"1b675d1b.e1f573","type":"join","z":"673cefa9.3d3c2","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":690,"y":200,"wires":[["1a72a68d.641d59"]]},{"id":"2929a113.9b959e","type":"function","z":"673cefa9.3d3c2","name":"add topic \"heat\"","func":"var mymsg = msg.payload.RED || msg.payload.GRN;\nmsg.payload = mymsg;\nmsg.topic = \"heat\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":260,"wires":[["1b675d1b.e1f573"]]},{"id":"2a1d231e.59a1dc","type":"function","z":"673cefa9.3d3c2","name":"add topic \"amps\"","func":"var mymsg = msg.payload;\nmsg.payload = mymsg;\nmsg.topic = \"amps\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":220,"wires":[["1b675d1b.e1f573"]]},{"id":"1a72a68d.641d59","type":"function","z":"673cefa9.3d3c2","name":"Turn on or off heat","func":"var local = context.get(\"heat\");\nvar turnon = '{\"CMD\":3,\"VALUE\":true,\"XTIME\":0,\"INTERVAL\":0}';\nvar turnoff = '{\"CMD\":3,\"VALUE\":false,\"XTIME\":0,\"INTERVAL\":0}';\n\nif(msg.payload.amps > 16 && msg.payload.heat) {\n    context.set(\"restoreheat\", 1);\n    return {payload: turnoff};\n}\nif(msg.payload.amps < 7) {\n    if(context.get(\"restoreheat\")){\n        context.set(\"restoreheat\", 0);\n        return {payload: turnon};\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":200,"wires":[["4f7dd2a4.bd29ec"]]},{"id":"36c6e43e.c051fc","type":"inject","z":"673cefa9.3d3c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17","payloadType":"num","x":160,"y":300,"wires":[["2a1d231e.59a1dc"]]},{"id":"9e0bc018.bf0a9","type":"inject","z":"673cefa9.3d3c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":159,"y":340,"wires":[["2a1d231e.59a1dc"]]},{"id":"38436216.b5ccbe","type":"server-state-changed","z":"673cefa9.3d3c2","name":"","server":"ade370e5.ea708","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.l1_current","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":220,"wires":[["2a1d231e.59a1dc"]]},{"id":"1dfe8d73.1d492b","type":"api-call-service","z":"673cefa9.3d3c2","name":"Notify Thomas","server":"ade370e5.ea708","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_thomas_landahls_mobil","entityId":"","data":"{\"title\":\"SPA command\",\"message\":\"{{payload}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1320,"y":500,"wires":[[]]},{"id":"8d96d734.24a038","type":"inject","z":"673cefa9.3d3c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"blablablabla","payloadType":"str","x":430,"y":540,"wires":[["1dfe8d73.1d492b"]]},{"id":"348dfe65.6324c2","type":"function","z":"673cefa9.3d3c2","name":"target reached","func":"if(msg.payload.TGT == msg.payload.TMP && context.get(\"reportnext\")) {\n    context.set(\"reportnext\", 0);\n    return {payload: {data: { title: \"SPA temperature\", message:\"Target temperature is reached\"}}};\n}\nif(Math.abs(msg.payload.TMP - msg.payload.TGT)>1 && context.get(\"reportnext\")==0) {\n    context.set(\"reportnext\", 1);\n    return {payload: {data: { title: \"SPA temperature\", message:\"Temperature is deviating from target\"}}};\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"reportnext\", 0);","finalize":"","libs":[],"x":420,"y":500,"wires":[["1dfe8d73.1d492b"]]},{"id":"948c3b12.ff0fe8","type":"influxdb out","z":"673cefa9.3d3c2","influxdb":"1ca76bdd.b244a4","name":"influx/pooldb","measurement":"pooldata","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1310,"y":420,"wires":[]},{"id":"fbe0db10.27e038","type":"function","z":"673cefa9.3d3c2","name":"","func":"var tags;\nvar fields;\n\ntags = {\n}\n\nfields = {\n    content: msg.payload[\"CONTENT\"],\n    temp: msg.payload[\"TMP\"],\n    target: msg.payload[\"TGT\"],\n    locked: msg.payload[\"LCK\"],\n    air: msg.payload[\"AIR\"],\n    celsius: msg.payload[\"UNT\"],\n    heating: msg.payload[\"RED\"],\n    heater: msg.payload[\"GRN\"] || msg.payload[\"RED\"],\n    filter: msg.payload[\"FLT\"],\n    power: msg.payload[\"PWR\"],\n    ch1: msg.payload[\"CH1\"],\n    ch2: msg.payload[\"CH2\"],\n    ch3: msg.payload[\"CH3\"]\n}\n\nmsg.payload = [\n    fields,\n    tags\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":420,"wires":[["948c3b12.ff0fe8"]]},{"id":"8f3171be.e79b","type":"ha-entity","z":"673cefa9.3d3c2","name":"Spa temperature","server":"ade370e5.ea708","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"spa_temperature"},{"property":"device_class","value":"temperature"},{"property":"icon","value":"hass:thermometer"},{"property":"unit_of_measurement","value":"°C"}],"state":"payload.TMP","stateType":"msg","attributes":[{"property":"Heater","value":"payload.GRN","valueType":"msg"},{"property":"Heating","value":"payload.RED","valueType":"msg"},{"property":"Target","value":"payload.TGT","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":370,"y":640,"wires":[[]]},{"id":"b4b1b47f.afe4d8","type":"ha-entity","z":"673cefa9.3d3c2","name":"Spa target temperature","server":"ade370e5.ea708","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"spa_target_temperature"},{"property":"device_class","value":"temperature"},{"property":"icon","value":"hass:thermometer"},{"property":"unit_of_measurement","value":"°C"}],"state":"payload.TGT","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":390,"y":700,"wires":[["e41680f39ebb42b7"]]},{"id":"24db7b8.d152e84","type":"ha-entity","z":"673cefa9.3d3c2","name":"Spa filter pump","server":"ade370e5.ea708","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"spa_pump"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:pump"},{"property":"unit_of_measurement","value":""}],"state":"payload.FLT","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":360,"y":760,"wires":[["4e44d2c5.c1990c"]]},{"id":"2a796120.1e1abe","type":"ha-entity","z":"673cefa9.3d3c2","name":"Spa air bubbles","server":"ade370e5.ea708","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"spa_airbubbles"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:chart-bubble"},{"property":"unit_of_measurement","value":""}],"state":"payload.AIR","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":360,"y":820,"wires":[["2b905c24.eefbc4"]]},{"id":"16109ca4.663163","type":"ha-entity","z":"673cefa9.3d3c2","name":"Spa heater","server":"ade370e5.ea708","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"spa_heater"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:radiator"},{"property":"unit_of_measurement","value":""}],"state":"msg.payload.RED or msg.payload.GRN","stateType":"jsonata","attributes":[{"property":"Heating","value":"payload.RED","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":350,"y":880,"wires":[["c1b78a17.c6f8b8"]]},{"id":"59c1866f.8fb7a8","type":"ha-entity","z":"673cefa9.3d3c2","name":"Spa air bubbles","server":"ade370e5.ea708","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"spa_airbubbles_switch"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:chart-bubble"},{"property":"unit_of_measurement","value":""}],"state":"payload.AIR","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"{\\\"CMD\\\":2,\\\"VALUE\\\":true,\\\"XTIME\\\":0,\\\"INTERVAL\\\":0}\": \"{\\\"CMD\\\":2,\\\"VALUE\\\":false,\\\"XTIME\\\":0,\\\"INTERVAL\\\":0}\"","outputPayloadType":"jsonata","x":680,"y":820,"wires":[["ec96df.221d992"],["ec96df.221d992"]]},{"id":"2b905c24.eefbc4","type":"function","z":"673cefa9.3d3c2","name":"","func":"var mymsg;\nmymsg = {};\nmymsg.enable = false;\nif(msg.payload.AIR) mymsg.enable = true;\nreturn mymsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":820,"wires":[["59c1866f.8fb7a8"]]},{"id":"11382d6a.9e50c3","type":"ha-entity","z":"673cefa9.3d3c2","name":"Spa heater","server":"ade370e5.ea708","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"spa_heater_switch"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:radiator"},{"property":"unit_of_measurement","value":""}],"state":"payload.AIR","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"{\\\"CMD\\\":3,\\\"VALUE\\\":true,\\\"XTIME\\\":0,\\\"INTERVAL\\\":0}\": \"{\\\"CMD\\\":3,\\\"VALUE\\\":false,\\\"XTIME\\\":0,\\\"INTERVAL\\\":0}\"","outputPayloadType":"jsonata","x":670,"y":880,"wires":[["ec96df.221d992"],["ec96df.221d992"]]},{"id":"c1b78a17.c6f8b8","type":"function","z":"673cefa9.3d3c2","name":"","func":"var mymsg;\nmymsg = {};\nmymsg.enable = false;\nif(msg.payload.RED || msg.payload.GRN) mymsg.enable = true;\nreturn mymsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":880,"wires":[["11382d6a.9e50c3"]]},{"id":"ed74a07c.096a4","type":"ha-entity","z":"673cefa9.3d3c2","name":"Spa filter pump","server":"ade370e5.ea708","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"spa_filter_pump"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:pump"},{"property":"unit_of_measurement","value":""}],"state":"payload.AIR","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"{\\\"CMD\\\":4,\\\"VALUE\\\":true,\\\"XTIME\\\":0,\\\"INTERVAL\\\":0}\": \"{\\\"CMD\\\":4,\\\"VALUE\\\":false,\\\"XTIME\\\":0,\\\"INTERVAL\\\":0}\"","outputPayloadType":"jsonata","x":680,"y":760,"wires":[["ec96df.221d992"],["ec96df.221d992"]]},{"id":"4e44d2c5.c1990c","type":"function","z":"673cefa9.3d3c2","name":"","func":"var mymsg;\nmymsg = {};\nmymsg.enable = false;\nif(msg.payload.FLT) mymsg.enable = true;\nreturn mymsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":760,"wires":[["ed74a07c.096a4"]]},{"id":"419884a.d2f367c","type":"mqtt in","z":"673cefa9.3d3c2","name":"Display button pressed","topic":"BW_2.0.0/button","qos":"2","datatype":"utf8","broker":"834c66eb.d8af88","nl":false,"rap":false,"x":140,"y":1060,"wires":[["8ce10e16.17b87"]]},{"id":"8ce10e16.17b87","type":"ha-entity","z":"673cefa9.3d3c2","name":"Spa button sensor","server":"ade370e5.ea708","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"spa_button"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:button"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"msg","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":350,"y":1060,"wires":[[]]},{"id":"ce968d3c.e0149","type":"api-call-service","z":"673cefa9.3d3c2","name":"Notify Thomas2","server":"ade370e5.ea708","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_thomas_landahls_mobil","entityId":"","data":"{\"title\":\"Button pressed\",\"message\":\"{{payload.state}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":1060,"wires":[[]]},{"id":"aee15b4.e3f9da8","type":"debug","z":"673cefa9.3d3c2","name":"Button output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.state","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1100,"wires":[]},{"id":"44432acf.9594a4","type":"server-state-changed","z":"673cefa9.3d3c2","name":"spa target temp slider","server":"ade370e5.ea708","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.spa_target_temp","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"\"{\\\"CMD\\\":0,\\\"VALUE\\\":\" & $entity().state & \",\\\"XTIME\\\":0,\\\"INTERVAL\\\":0}\"","valueType":"jsonata"}],"x":780,"y":700,"wires":[["ec96df.221d992"]]},{"id":"936972ca.fb976","type":"api-call-service","z":"673cefa9.3d3c2","name":"set slider","server":"ade370e5.ea708","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.spa_target_temp","data":"{\"value\":$number($entities(\"sensor.spa_target_temperature\").state)}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":700,"wires":[[]]},{"id":"b937e0f3.e8e5","type":"comment","z":"673cefa9.3d3c2","name":"Adds Display button sensor. Use sensor in automation in HA","info":"","x":270,"y":1020,"wires":[]},{"id":"48dd8d4c.776bd4","type":"comment","z":"673cefa9.3d3c2","name":"Adds sensors/switches to HA.","info":"","x":160,"y":600,"wires":[]},{"id":"ff070173.f721e","type":"comment","z":"673cefa9.3d3c2","name":"Send push to iPhone when target reached","info":"","x":680,"y":480,"wires":[]},{"id":"cba090f9.80088","type":"comment","z":"673cefa9.3d3c2","name":"Store data in database for display in grafana","info":"","x":690,"y":380,"wires":[]},{"id":"2d83a3b3.83b30c","type":"comment","z":"673cefa9.3d3c2","name":"I have a Shelly 3EM to monitor house amperage. If too high it turns off the heater in the pool.","info":"","x":380,"y":140,"wires":[]},{"id":"e41680f39ebb42b7","type":"delay","z":"673cefa9.3d3c2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":590,"y":660,"wires":[["936972ca.fb976"]]},{"id":"834c66eb.d8af88","type":"mqtt-broker","name":"Mosquitto broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ade370e5.ea708","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"1ca76bdd.b244a4","type":"influxdb","hostname":"a0d7b954-influxdb","port":"8086","protocol":"http","database":"pooldb","name":"pooldb","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false}]
